html { 
    background: url("../images/bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
      background-color: white;
      opacity: .75;
      border-radius: 5px;
  }

#buttonDiv{
    width: min-content;
    margin: auto;
}

#myBtn{
    font-size: 4vw;
}

#lettersContainer{
    width: max-content;
    margin: auto;
}

#scoreDiv{
    
    width: max-content;
    margin: auto;
}

.lettersDiv{
    width: 5vw;
    margin: 5px;
    height: 5vw;
    padding: 10px;
    background-color: lightblue;
    border-radius: 5%;
    display: inline-block;
    vertical-align: top;
}

.letterDiv{
    height: 90%;
    margin: auto;
    text-align: center;
}

.letterSlice{
    font-size: 5vw;
}

.underscore{
    width: 90%;
    height: 3px;
    background-color: darkgray;
    margin: auto;
    margin-top: 10%;
}

#guessedDiv{
    width: max-content;
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 5%;
    padding: 2px;
}
